// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #125688;
  background-color: #fafafa;
  font-family: 'Josefin Sans', sans-serif;
}